@model Shape.Models.FitnessModel

<h4>Results</h4>

<div class="results">
    <p>Your BMI is: @ViewData["BMI"]</p>
    <p>Your BMI category is: @ViewData["BMI Category"]</p>
    <p>Your body fat % is: @ViewData["BodyFatPercentage"]</p>
    <p>Your body fat category is: @ViewData["BodyFatCategory"]</p>
    <p>Diet Recommendation: @ViewData["DietRecommendation"]</p>
</div>
